<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secrete palace</title>
  </head>
  <body>
    <header><%- include('navbar') %></header>
    <main class="main-container">
      <h1><%=title%></h1>
    </main>
  </body>
</html>
